html {
    font-size: 63%;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: $secondary-text-color;
    line-height: 1.1;
}

// || NAVIGATION BARS TYPOGRAPHY(CONSIST NAVBAR #1 #2 #3) || //
.nav {
    // || NAVBAR #1 STARTS HERE || //
    &__bar1 {
        font-size: 1.4rem;

        background-color: $secondary-color-gray;
        border: none;
        border-top: .3rem solid $primary-color-red;
    }

    &__link {
        text-decoration: none;
        color: $secondary-text-color;
        padding: 0;

        &:hover {
            color: $primary-color-red;
        }
    }

    &__items {

        ion-icon {
            font-size: 2.5rem;
            font-weight: 100;
            padding: 0;
        }

        .nav__icons--3 {
            font-size: 1.3rem;
        }
        .nav__icons--4 {
            font-size: 1.3rem;
        }
    }

    &__items--custom {
        background-color: $tertiary-color-white;
        padding: 1.8rem .8rem;
        color: $secondary-text-color;
        opacity: 0;

        box-shadow: 0 .14rem 4rem rgba($text-color-black, 0.14);
    }

    // || NAVBAR #2 STARTS HERE || //
    &__bar2 {
        font-size: 1.4rem;
        font-weight: 500;
        padding: 3.8rem 0;
        margin: 0 auto;
    }

    &__form {

        & > button[type=submit]{
            padding: 1.3rem 1.8rem;
            outline: none;
            border: none;
            background-color: $primary-color-red;
            border-radius: 4px;
            color: $tertiary-color-white;
            margin-left: -.5rem;
            z-index: 1;
            cursor: default;
        }
    }

    &__search-bar, 
    &__search-bar:active{
        font-weight: 500;
        border: none;
        border: 2px solid $secondary-color-gray;
        color: $text-color-tertiary;
        outline: none;
        padding: 1.9rem;
        padding-right: 18rem;
    }

    &__icons { 
        color: $text-color-black;
        font-size: 2.6rem;
        padding: 0;
        padding: 0 1.5rem;

        &:hover {
            color: $primary-color-red;
        }
    }

    &__icons--search {
        font-size: 2.6rem;
    }

    &__icons-count { 
        padding: .5rem .8rem;
        background-color: $primary-color-red;
        border-radius: 50%;
        text-align: center;
        font-size: 1.2rem;
        color: $tertiary-color-white;
    }

    // || NAVBAR #2 STARTS HERE || //
    
    &__bar3 {
        padding: 1rem 0;
        border: none;
        border-top: 1px solid $secondary-color-gray;
        border-bottom: 1px solid $secondary-color-gray;
        z-index: -3;

        &--item {
            text-decoration: none;
            color: $text-color-black;
            display: inline-block;
            font-size: 1.8rem;
            padding-right: 1.8rem;

            &:hover {
                color: $primary-color-red;
            }
        }

        span {
            position: relative;
            padding: 0;
            margin: 0;
            font-size: 1.8rem;

            &:hover {
                color: $primary-color-red;
            }
        }
    }
}

// || DROPDOWN BUTTON IN NAVBAR #2 TYPOGRAPHY|| //

.dropdown {

    & > button,
    button:active {
        font-size: 1.3rem;
        font-weight: 500;
        background-color: $tertiary-color-white !important;
        color: $text-color-tertiary !important;
        outline: none;
        border: none ;
        border: 2px solid $secondary-color-gray !important;
        padding: 1.6rem;
        padding-right: 4rem;
        margin: 0;
        margin-left: -.4rem;
    }

    & > button:hover,
    button:focus {
        background-color: $tertiary-color-white;
        color: $text-color-black;
        border: none;
        border: 2px solid $secondary-color-gray;
        padding: 1.6rem;
        padding-right: 4rem;
        margin: 0;
        margin-left: -.4rem;
    }

    .dropdown-menu {
        font-size: 1.4rem;
        padding: .8rem .3rem;
        border: none;
        box-shadow: 0 .4rem .6rem rgba($text-color-black, 0.1);
        margin-top: -.3rem !important;
        
    }

    .dropdown-item {
        font-weight: 500;
        color: $text-color-tertiary;
        padding: 1.2rem;

        &:hover,
        &:active {
            background-color: $tertiary-color-white;
            color: $primary-color-red;
        }
    }

    .dropdown-toggle {
        font-size: 1.4rem;
    }
}