.nav {

        // || NAVBAR #1 BEGINS HERE || //
    &__bar1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        list-style-type: none;
        margin: 0;
    }

    &__items {
        display: inline-block;
        padding: 1.8rem 2.5rem;

        position: relative;

        ion-icon {
            font-size: 2.5rem;
            font-weight: 100;
            padding: 0;
        }

        .nav__icons--1{
            position: absolute;
            top: 1rem;
            left: -.5rem;
        }
        .nav__icons--2{
            position: absolute;
            top: 1rem;
            left: -.5rem;
        }
        .nav__icons--3{
            position: absolute;
            top: 1.9rem;
            right: .8rem;
        }
        .nav__icons--4{
            position: absolute;
            top: 1.9rem;
            right: .8rem;
        }
    }

    &__items--custom {
        width: 16rem;
        position: relative;
        display: inline-block;

        transition: all .2s;
    }

    &__items--lang {
        position: absolute;
        top: 7.2rem;
        right: 34.5rem;
        opacity: 0;
        visibility: hidden;
    }
    &__items--currency {
        position: absolute;
        top: 7.2rem;
        right: 25.4rem;
        opacity: 0;
        visibility: hidden;
        
    }

    &__items--english:hover ~ &__items--lang {
        opacity: 1;
        visibility: visible;
        top: 5.2rem;
    }

    &__items--USD:hover ~ &__items--currency {
        opacity: 1;
        visibility: visible;
        top: 5.2rem;
    }

    // || NAVBAR #2 BEGINS HERE || //
    &__bar2 {
        width: 135rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        list-style-type: none;

    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__search-container {
        display: inline-block;
    }

    &__search-bar, 
    &__search-bar:active{
        display: inline-block;
    }


}

// || DROPDOWN BUTTON IN NAVBAR #2 STYLE || //
.dropdown {

    & > button,
    button:active {
        display: inline-block;
    }

    & > button:hover,
    button:focus {
        display: inline-block;
    }

    .dropdown-menu {
        width: 215px;
    }
}



